img{
    height: 90px;
}
.nav{
    display: inline-block;
}
.right{
    float: right;
    position: relative;
    top: 25px;
    right: 10px;
}
nav{
    border: solid;
    box-shadow: 5px 5px gray;
}
a{
    text-decoration: none;
    font-family: monospace;
}
.hero{
    background-color: burlywood;
    height: 400px;
    margin-top: 10px;
}
h1{
    text-align: center;
    position: relative;
    top: 150px;
    color: white;
    font-size: 50px;
}