h1{
    font-family: 'Lato', sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 90px;
}
.nav{
    display: inline-block;
}
.right{
    float: right;
    position: relative;
    top: 25px;
    right: 10px;
}
nav{
    border: solid;
    box-shadow: 5px 5px gray;
}
a{
    text-decoration: none;
}